/*estilizações do top nav*/

.topnav{
    width: 100vw;
    background-color: #ffffff;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #EAEFED;
}

.topnav img{
    width: 2.3rem;
    height: 2.3rem;
    margin: 1rem;
}

.avatar_field{
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.avatar_field h4{
    margin: 0% ;
    font-size: 1rem;   
}

.avatar_field p{
    margin: 0% ; 
    font-size: 1rem; 
    color: #587169; 
}

.avatar_field button{
    background-color: #B5F1DD;
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 80%;
    border: none;
}

.avatar_descricao{    
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

/*estilizações globais*/

.divprincipal{
    display: flex;
    flex-direction: row;
}

.container{
    margin: 5rem;
}

.container a{
    width: 38px;
    height: 38px;
    border-radius: 80%;
    background-color: #EAEFED;
    margin: 1rem;
}

.container h1{
    color: #34423D;
}   

.h1{
    color: #34423D;
    font-style: normal;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 100%;
    Padding: 1rem;
}

/*estilizações da table colaboradores*/

.table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 8px;
}

.table h2{
     margin-left: 3rem;
     width: 58rem;
}

.table tr{
    Height: 4rem;    
}

.td{
    display: flex;
    align-items: center;
}

.td img{
    margin: 1rem;
}

.nav {
    font-weight: 600;
    border-bottom: 2px solid #EAEFED;
    width: 57rem;
    margin: 1.2rem;
}

.nav button {
    width: 13rem;
    height: 2rem;
    border: none;
    background-color: #ffffff;
    position: relative;
}

.nav button::after{
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    height: 2px;
    width: 100%;
    background-color: #22E0A1;
}

.fieldset {
    Width: 57rem;
    border-radius: 8px;
    border: 2px solid #CAD6D1;
    color: #CAD6D1;  
    display: flex;
    align-items: center;  
}

.input {
    Width: 55rem;
   outline: none;
    border: none;
    font-weight: 500;
    font-size: 1rem;   
}

.lista {
    width: 57rem;
    margin: 1rem;
    text-align: left;
}

.lista thead{  
    color: #587169;
    font-weight: 600;
    font-size: 1rem;
}

.lista fieldset{
    border: 1px solid #CAD6D1;;
}

.lista th{
    margin: 2.5rem;    
}

.lista img {
    border-radius: 50%;
}

/*estilização do sidebar*/

.sidebar{
    background-color: #ffffff;
    width: 15rem;
    border: 1px solid #EAEFED;
    box-shadow: 0px 4px 8px rgba(165, 171, 179, 0.16);
}

/*estilizações da pg detalhes do colaborador*/

.h1_detalhes img{
    padding: 0.7rem;
}

.fieldset_dados{
    border: 2px solid #CAD6D1;
    width: 60rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1rem;
    border-radius: 8px;
}

.fieldset_dados h3{
    width: 50rem;
    color: #34423D;
}

.fieldset_detalhes{
    border: 2px solid #CAD6D1;
    width: 27rem;
    height: 3.5rem;
    margin: 1rem;
    background-color:  #F5FAF8;
    color: #A3B8B0;  
    border-radius: 8px;   
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.fieldset_detalhes button{
    border: none;
    background-color:  #F5FAF8;
    color: #587169;     
}

/*estilização da table detalhes*/

.avatar_detalhes_colaborador{
    width: 60rem;
    margin-left: 2rem;    
    padding: 1rem;
    display: flex;
    align-items: center;
}

.avatar_detalhes_colaborador img{
    border-radius: 80%;
    width: 5rem;
    height: 5rem;
    background-color: #CAD6D1;
}

.avatar_detalhes_colaborador h3{
    margin: 0%;
    margin-left: 1rem;
    color: #34423D;
}

.avatar_detalhes_colaborador p{
    margin: 0%; 
    margin-left: 1rem;
    color: #587169;
}

.h1_detalhes{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info_pessoais h3{
    color: #34423D;
    margin: 1rem;
}

.fieldset_info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.fieldset_info fieldset{
    background-color:  #F5FAF8;
    border: 2px solid #CAD6D1;
    border-radius: 8px;
    width: 18rem;
    height: 4.5rem;
    margin: 1rem;
    display: flex;
    align-items: center;
}

.fieldset_info a{
    border-radius: 80%;
    background-color: #CAD6D1;
}

.fieldset_info h4{
    color: #587169;
    margin: 0%;
    font-size: 1rem;
}

.fieldset_info p{
    color: #587169;
    margin: 0%;
    font-size: 1rem;
    font-weight: 600;
}

.fieldset_info img{
    display: flex;
    align-items: center;
    padding: 0.7rem;
}

/*estilizações de permissões*/

.permissoes_dados{
    display: flex;
    justify-content: space-between;
}

.permissoes_dados fieldset{
    background-color:  #F5FAF8;
    border: 2px solid #CAD6D1;
    border-radius: 8px;
    width: 27rem;
    height: 4rem;
    display: flex;
    align-items: center;
    margin: 1.5rem;
    color: #CAD6D1;
}

.permissoes_dados p{
    font-weight: 500;
    font-size: 1rem;
    color: #587169;
}

/*estilização da 404*/

.page404{
    background-image: url(../public/assets/404.png);
    background-size: cover;
    width: 100vw;
    height: 640px;
    color: #fff;
    font-size: 2.5rem;
    text-align: center;
}

.page404 h1{
    margin: 0;
}

/*estilização de responsividade*/

@media screen and (max-width:360px) {
    
}